<ion-view>
  <div class="bar bar-header bar-light">
    <div class="center-icon"><i class="jewelbots-icon"></i></div>
  </div>
  <div class="content has-header">


  <ul class="list">
  <li class="item-toggle item">
    Mock Bluetooth Device
    <label class="toggle toggle-assertive">
      <input type="checkbox" ng-model="model.settings.mockBle" ng-change="updateSettings()">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </li>
  <li class="item" ng-show="model.settings.mockBle">
    <label class="item-input">
      <input type="text" placeholder="A1:B2:C3:D4:E5:F6" ng-model="model.settings.bleAddress" ng-change="updateSettings()" />
    </label>

  </li>
    <li class="item-toggle item">
      Mock Telephone Verification
      <label class="toggle toggle-assertive">
        <input type="checkbox" ng-model="model.settings.mockTelephone" ng-change="updateSettings()">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </li>

    <li class="item" ng-show="model.settings.mockTelephone">
      <label class="item-input">
        <input type="tel" placeholder="(212) 555-1212" ng-model="model.settings.telephoneNumber" ng-change="updateSettings()" />
      </label>
    </li>

    <li class="item">
      <label class="item">{{model.settings.bleAddress}}</label>
      <button class="button button-assertive" ng-click="unPair()">UnPair Device</button>
    </li>

    <li class="item">
      <label class="item-input">
        <button class="button button-assertive" ng-click="deleteLog()">Delete Log</button>
      </label>
    </li>
</ul>

  </div>
  <div class="row" ng-repeat="logMessage in model.messages">
    <div class="col-10">
      <i class="ion-ios-information-empty" ng-show="logMessage.Type == 'message'"></i>
      <i class="ion-alert" ng-show="logMessage.Type == 'error'"></i></div>
    <div class="col-65">{{logMessage.Message}}</div>
    <div class="col-25">{{logMessage.Timestamp}}</div>
  </div>
  <ion-scroll direction="y" delegate-handle="mapScroll">
    <div class="row" ng-repeat="logMessage in model.messages">
      <div class="col-10">
        <i class="ion-ios-information-empty" ng-show="logMessage.Type == 'message'"></i>
        <i class="ion-alert" ng-show="logMessage.Type == 'error'"></i></div>
      <div class="col-65">{{logMessage.Message}}</div>
      <div class="col-25">{{logMessage.Timestamp}}</div>
    </div>
  </ion-scroll>

</ion-view>
