<ion-view view-title="Select Jewelbots to Control">
	<ion-content class="has-header">
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="scanForDevices()">
		</ion-refresher>

		<ion-list ng-show="numDetected" type="card" can-swipe="false">
			<div class="item item-divider">
				<h1><i class="ion-ios-search-strong"></i> Nearby Jewelbots</h1>
			</div>
			<ion-item ng-class="getDeviceColor(device)" ng-repeat="device in devices.detected" ng-click="selectDevice(device)">
				<i class="ion-bluetooth"></i> <em>{{device.name}}</em>
			</ion-item>
		</ion-list>
		<div class="card">
			<div class="item item-divider">
				Can't find your Jewelbot?
			</div>
			<div class="item item-text-wrap">
			Pull down to refresh the list of nearby Jewelbots.
			</div>
		</div>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-calm">
		<div class="title">{{
			model.numDetected == 0 ?
				"No devices found" :
				model.numDetected == 1 ?
					"1 device found" :
					model.numDetected + " devices found"
		}}</div>
	</ion-footer-bar>
</ion-view>
