<ion-view view-title="Select Jewelbots to Control">

	<ion-content class="has-header has-subheader has-tabs">

		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="scanForDevices()">
		</ion-refresher>

		<ion-list ng-show="devices.detected > 0" type="card" can-swipe="false">
			<div class="item item-divider">
				<i class="ion-ios-search-strong"></i> Nearby Jewelbots
			</div>
			<ion-item
				ng-repeat="device in devices.detected"
				ng-click="selectDevice(device)"
        ng-class="getDeviceColor(device)"
			>
				<i class="ion-bluetooth"></i> <em>{{device.name}}</em>
			</ion-item>
		</ion-list>

		<div class="card" ng-hide="devices.detected > 0">
			<div class="item item-divider">
				<i class="ion-ios-search"></i> No Jewelbots Detected
			</div>
			<div class="item item-text-wrap">
				Nearby Jewelbots will appear here.
			</div>
		</div>


		<div class="card" ng-show="devices.detected > 0">
			<div class="item item-divider">
			<i class="ion-ios-lightbulb-outline"></i> Jewelbots PROTIP
			</div>
			<div class="item item-text-wrap">
			<i class="ion-ios-arrow-forward"></i> Tap on the name of each Jewelbot you wish to control.
			</div>
			<div class="item item-text-wrap">
			<i class="ion-ios-arrow-forward"></i> When you're ready, proceed to the control tab.
			</div>
		</div>

		<div class="card" ng-hide="devices.detected > 0">
			<div class="item item-divider">
			<i class="ion-ios-lightbulb-outline"></i> Jewelbots PROTIP
			</div>
			<div class="item item-text-wrap">
			<i class="ion-ios-arrow-forward"></i> New Jewelbots may take up to a minute to appear.
			</div>
			<div class="item item-text-wrap">
			<i class="ion-ios-arrow-forward"></i> Pull down to refresh the list of nearby Jewelbots.
			</div>
		</div>

	</ion-content>
	<ion-footer-bar align-title="left" class="bar-calm">
		<div class="title">{{
			devices.detected.length == 0 ?
				"No devices found" :
				devices.detected.length == 1 ?
					"1 device found" :
					devices.detected.length + " devices found"
		}}</div>
	</ion-footer-bar>
</ion-view>
