<ion-view>
	<ion-nav-bar animation="nav-title-slide-ios7" class="bar has-header bar-dark">
		<ion-nav-back-button>
		</ion-nav-back-button>
	</ion-nav-bar>

	<ion-tabs class="tabs-icon-top tabs-dark">

		<ion-tab title="Select" icon="ion-ios-checkmark-outline" href="#/demo/select">
			<ion-nav-view name="demo-select"></ion-nav-view>
		</ion-tab>

		<ion-tab title="Control" icon="ion-ios-game-controller-a-outline" href="#/demo/control">
			<ion-nav-view name="demo-control"></ion-nav-view>
		</ion-tab>

		<ion-tab title="Weather" icon="ion-ios-partlysunny-outline" href="#/demo/weather">
			<ion-nav-view name="demo-weather"></ion-nav-view>
		</ion-tab>

	</ion-tabs>
</ion-view>
