node_modules
www
.idea
.temp
.sass-cache
app/bower_components
coverage
plugins
*.swp
*.swo
*.log
*.DS_Store
platforms
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
*.xcuserstate

app/scripts/configuration.js
