<ion-header-bar class="jewelbots_header">
	<img class="jewelbots-icon" ng-click="toggleTopMenu()" src="../../images/icon__header_logo.svg">
	<style>
		.jewelbots_header {
			width:  100%;
			height: 64px;
			margin: 0 0 0 0;
			padding: 0 0 0 0;

			border-bottom:    solid 3px rgba(120,230,255,1.0);
			background-color: rgba(105,200,230,1.0);

			-webkit-box-shadow: 0px 3px 2px 0px rgba(100,110,120,0.50);
			   -moz-box-shadow: 0px 3px 2px 0px rgba(100,110,120,0.50);
			        box-shadow: 0px 3px 2px 0px rgba(100,110,120,0.50);
		}
		.jewelbots_header .jewelbots-icon {
			display:  block;
			position: relative;
			width:    40px;
			height:   40px;
			margin:   8px auto 0 auto;
			padding:  0 0 0 0;
		}
	</style>
</ion-header-bar>