<ion-top-menu>
  <ion-scroll style="width:100%;height:100%">
    <div class="list">
      <div class="item" ui-sref="dashboard" ng-click="toggleTopMenu()">
        Home
      </div>
      <!-- <div class="item" ui-sref="dashboard" ng-click="toggleTopMenu()">
        Add Friend
      </div>-->
      <div class="item" ui-sref="settings" ng-click="toggleTopMenu()">
        Settings
      </div>
      TODO: remove before shipping or flag debug
      <div class="item" ui-sref="diagnostics" ng-click="toggleTopMenu()">
        Diagnostics
      </div>
      <!-- <div class="item" ui-sref="demo.select" ng-click="toggleTopMenu()">
        Demo
      </div>
      <div class="item" ui-sref="debug-start" ng-click="toggleTopMenu()">
        Debug Start
      </div> -->
    </div>
  </ion-scroll>
</ion-top-menu>
