<ion-view can-swipe-back="false" hide-nav-bar="true" hide-back-button="true">
	<ion-content>
		<div class="birthday">
			<div class="content">
				<h2>When is your Birthday?</h2>
				<p>This information is never sent to Jewelbots</p>

				<p>Please enter your birthday and confirm:</p>
				<label class="item item-input">
					<input type="date" placeholder="MM/DD/YYYY">
				</label>
				<a class="continue" ng-click="setBirthday()" ng-model="model.birthday">
					Continue
					<img src="../../images/icon__arrow_right_white.svg" />
				</a>
			</div>
		</div>
		<style>
			.birthday {
				display:  block;
				position: relative;
				width:    100%;
				height:   100%;
				margin:   0 0 0 0;
				padding:  0 0 90px 0;

				background-image: url(../../images/background__app_icons.jpg);
				background-size:  645px 675px;
			}
			.birthday .content {
				display:   block;
				position:  relative;
				width:     100%;
				max-width: 345px;
				height:    100%;
				margin:   0 auto 0 auto;
				padding:  60px 15px 90px 15px;
			}

			.birthday .content h2 {
				display:  block;
				position: relative;
				width:    100%;
				height:   auto;
				margin:   0 0 0 0;
				padding:  20px 0 10px 0;

				font-family:    'open_sansbold', Arial, "MS Trebuchet", sans-serif;
				font-style:     normal;
				font-weight:    400;
				font-size:      24px;
				line-height:    30px;
				letter-spacing: 0px;
				text-align:     center;
				text-indent:    0;
				text-transform: none;
				color:          rgba(80,100,120,1.0);
			}
			.birthday .content p {
				display:  block;
				position: relative;
				width:    100%;
				height:   auto;
				margin:   0 0 0 0;
				padding:  0 0 0 0;

				font-family:    'open_sanssemibold', Arial, "MS Trebuchet", sans-serif;
				font-style:     normal;
				font-weight:    400;
				font-size:      14px;
				line-height:    20px;
				letter-spacing: 0px;
				text-align:     center;
				text-indent:    0;
				text-transform: none;
				color:          rgba(80,100,120,1.0);
			}
			.birthday .content .item {
				margin:   0 0 0 0;
				padding:  0 0 0 0;

				border:        solid 0px rgba(190,195,200,1.0);
				background-color:        rgba(255,255,255,0.0);
				outline:                 none;
			}
			.birthday .content input {
				display:  block;
				position: relative;
				width:    100%;
				height:   60px;
				margin:   30px auto 0 auto;
				padding:  0 15px 0 15px;

				border:        solid 0px rgba(190,195,200,1.0);
				border-bottom: solid 2px rgba(190,195,200,1.0);
				background-color:        rgba(255,255,255,0.0);
				outline:                 none;

				font-family: 'open_sanssemibold', Arial, "MS Trebuchet", sans-serif;
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 58px;
				letter-spacing: 1px;
				text-align: center;
				text-indent: 0;
				text-transform: none;
				color: rgba(80,100,120,1.0);
			}
			.birthday .content a.continue {
				display:  block;
				position: relative;
				width:    100%;
				height:   auto;
				margin:   30px 0 0 0;
				padding:  0 0 0 0;

				background-color: rgba(040,205,230,1.0);
				        border-radius: 15px;
	               -moz-border-radius: 15px;
	            -webkit-border-radius: 15px;

				font-family:    'open_sansbold', Arial, "MS Trebuchet", sans-serif;
				font-style:     normal;
				font-weight:    400;
				font-size:      13px;
				line-height:    60px;
				letter-spacing: 0px;
				text-align:     center;
				text-indent:    0;
				text-transform: uppercase;
				color:          rgba(255,255,255,1.0);
			}
			.birthday .content a.continue:hover {
				opacity: 0.5;
			}
			.birthday .content a.continue img {
				display:  block;
				position: absolute;
				width:    21px;
				height:   25px;
				top:      17px;
				right: 15px;
				margin:   0 0 0 0;
				padding:  0 0 0 0;
			}
		</style>
	</ion-content>
</ion-view>