<ion-content padding="true">
  <!--<div class="row">-->
    <!--<div class="col">-->
      <h1>
        Privacy Policy
      </h1>
      <p> You'd best make peace with your dear and fluffy Lord. Don't strain your brain trying, then. Might break something. It has nothing to do with me. I don't think Buffy's going to be too broken up over a pylon. We'll have to call it early quantum state phenomenon. Only way to fit 5000 species of mammal on the same boat. How did your brain even learn human speech? I'm just so curious. I'm a comfortador also. </p>
      <p> I suppose there is a sort of Machiavellian ingenuity to your transgression. When I say, 'I love you,' it's not because I want you or because I can't have you. Any self-respecting demon should be living in a pit of filth or a nice crypt. I'm a comfortador also. Time is what turns kittens into cats. I thought all children despise effort and enjoy cartoons. In every generation there is a chosen one. The good guys are always stalwart and true, the bad guys are easily distinguished by their pointy horns or black hats, and, uh, we always defeat them and save the day. No one ever dies, and everybody lives happily ever after. You're the Slayer, and we're, like, the Slayerettes! Okay, uh, I'm lost. I'm angry. And I'm armed. </p>
      <p> When I kiss you, you don't wake up from a deep sleep and live happily ever after. That probably would've sounded more commanding if I wasn't wearing my yummy sushi pajamas. Freedom is life's great lie. Okay, uh, I'm lost. I'm angry. And I'm armed. </p>
      <p> My Uncle Rory was the stodgiest taxidermist you've ever met by day. Can you just be kissing me now? You can't take the sky from me. I was actually at Woodstock. That was a weird gig. I fed off a flower person, and then I spent the next six hours watching my hand move. It's funny how the Earth never opens up and swallows you when you want it to. </p>
      <p> Hey I could whip up a love slave any day I wanted. I think calling him that is an insult to the psychotic lowlife community. Looking in windows, knocking on doors. What did I say to you about barging into my shuttle? Barmaid, bring me stronger ale, and some plump, succulent babies to eat. </p>
      <ion-checkbox ng-model="checkboxModel.checked">I have read and understood Jewelbots Privacy Policy.</ion-checkbox>
      <div class="button button-positive" ng-click="verifyChecked()">CONFIRM</div>
    <!--</div>-->
  <!--</div>-->
</ion-content>


