<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
		<!--//needs to be replaced with our navigation-->
		<div class="dashboard send_SMS">
			<div class="content">
				<h2>Adding Friends</h2>
				<p>
					We will be sending an SMS with a four-digit code to your friends. With this code they can accept your friendship request.
				</p>

				<h3 class="name">George S.<span class="phone">(646) 123 1234</span></h3>
				<h3 class="name">Sara C.<span class="phone">(646) 123 1234</span></h3>

				<a class="cancel" href="">Cancel</a>
				<a class="continue" href="">Confirm</a>

			</div>
		</div>
	</ion-content>
</ion-view>