<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
		<!--//needs to be replaced with our navigation-->
		<div class="dashboard confirm_SMS">
			<div class="content">
				<h2>Friend Request</h2>
				<p>
					First Last would like to add you as a friend on Jewelbots. Please check your text messages. We've sent you a four-digit code. Enter it below to confirm your friendship.
				</p>

				<h3 class="name">George Stocker</h3>

				<ul class="confirmation_code">
					<li><input name="xxx" type="number"></li>
					<li><input name="xxx" type="number"></li>
					<li><input name="xxx" type="number"></li>
					<li><input name="xxx" type="number"></li>
				</ul>

				<a class="cancel" href="">Cancel</a>
				<a class="continue" href="">Confirm</a>

			</div>
		</div>
	</ion-content>
</ion-view>