<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
		<!--//needs to be replaced with our navigation-->
		<div class="dashboard addphone_error">
			<div class="content">
				<div class="friendlist">
					<h2>Oh Nooo!</h2>
					<p>We could not find your friend!</p>
					<img class="add_friend_error" src="images/icon__button_friend_add_error.svg" />
					<a class="ask_permission">Help Me! <br />Show me my phone contacts!</a>
					<a class="try_again" href="">
						Let me Try Again!
						<img src="images/icon__arrow_left_gray.svg" />
					</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>