<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
		<!--//needs to be replaced with our navigation-->
		<div class="dashboard addphone">
			<div class="content">
				<h2>Welcome To Jewelbots!</h2>
				<p>
					Add your friends to colors so they light up the same when you're close.
				</p>

				<div class="circle add centered">
					<img src="../../images/icon__button_friend_add.svg" />
				</div>

				<label class="item item-input">
					<span>Find</span>
					<input type="phone">
				</label>

			</div>
		</div>
	</ion-content>
</ion-view>