<ion-view>
  <div class="bar bar-header bar-light">
    <div class="center-icon"><i class="jewelbots-icon"></i></div>
  </div>
  <div class="content has-header padding center">
    <ng-if="!hasFriends" ng-include src="'templates/friends/no-friends.html'"></ng-if>
  </div>


  <ion-footer-bar class="bar-light">
  <div class="footer-circle-menu">
    <span class="circle circle-red" ng-click="openModal()"></span>
    <span class="circle circle-orange" ng-click="openModal()"></span>
    <span class="circle circle-yellow" ng-click="openModal()"></span>
    <span class="circle circle-green" ng-click="openModal()"></span>
    <span class="circle circle-pink" ng-click="openModal()"></span>
    <span class="circle circle-blue" ng-click="openModal()"></span>
    <span class="circle circle-purple" ng-click="openModal()"></span>
    <span class="circle circle-plum" ng-click="openModal()"></span>
  </div>
  </ion-footer-bar>
</ion-view>

