<ion-view can-swipe-back="true" view-title="Diagnostics" hide-back-button="true">
  <div class="content has-header padding">
     <button class="button button-positive" ng-click="getLoggingInfo()">
      Get Logging Info
    </button> <button class="button button-calm" ng-click="clearLog()">Clear Log</button>
    <div class="text" ng-repeat="l in model.log track by $index">
      <div class="item item-text-wrap">
        {{l.Message}}
        {{l.Timestamp}}
      </div>
    </div>

  </div>
</ion-view>
