<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
		<div class="startup instruction">
			<div class="content">
		<!--//needs to be replaced with our navigation-->
		<div class="startup">
				<a class="buttons tertiary" onclick="window.open('https://jewelbots.com/pages/arduino', target='_blank')">
					Installation
				</a>
				<a class="buttons tertiary" onclick="window.open('https://jewelbots.com/pages/boards', target='_blank')">
					Add Boards
				</a>
				<a class="buttons tertiary" onclick="window.open('https://jewelbots.com/pages/sketch', target='_blank')">
					Upload Sketch
				</a>
				<a class="buttons tertiary" onclick="window.open('https://jewelbots.com/pages/sample', target='_blank')">
					Sample Code
				</a>
		</div>
	</div>
</div>

	</ion-content>
</ion-view>
