<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
		<div class="startup instruction">
			<div class="content">
		<!--//needs to be replaced with our navigation-->
		<div class="startup">
				<a class="buttons tertiary browser" id="arduino">
					Installation
				</a>
				<a class="buttons tertiary browser" id-"boards">
					Add Boards
				</a>
				<a class="buttons tertiary broswer" id="sketch">
					Upload Sketch
				</a>
				<a class="buttons tertiary browser" id="sample">
					Sample Code
				</a>
		</div>
	</div>
</div>

	</ion-content>
</ion-view>
