<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button class="back-button-test">
			</ion-nav-back-button>
		</ion-nav-bar>
		<div class="startup instruction">
			<div class="content">
		<!--//needs to be replaced with our navigation-->
		<div class="startup">
				<a class="buttons tertiary browser" id="get-started">
					Setup Steps
				</a>
				<a class="buttons tertiary" ui-sref="glossery_instruction">
					Glossary
				</a>
				<a class="buttons tertiary" ui-sref="arduino_instruction">
					Arduino Installation
				</a>
				<a class="buttons tertiary" ui-sref="friend_coding_instruction">
					Code With Friends
				</a>
				<a class="buttons tertiary" ui-sref="solo_coding_instruction">
					Code Solo
				</a>
		</div>
	</div>
</div>

	</ion-content>
</ion-view>
