<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
    <div class="friends-pages startup">
      <div class="content inner-content">
<h3 class="header">Connecting your app to your Jewelbot for the first time?</h3>

<p><h5 class="header">Step One:</h5> Plug your device in to the USB, plug into a wall adapter or your computer.</p>

<p><h5 class="header">Step Two: </h5>Hold down the magic button for one second and let go, your device should be flashing green lights.</p>

<a class="buttons secondary" ui-sref="pair">
  Done!
</a>

</div>
</div>
</ion-content>
</ion-view>
