<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
		<div class="startup instruction">
			<div class="content">
		<!--//needs to be replaced with our navigation-->
				<a class="buttons secondary browser" id="pairing">
					Pairing
				</a>
				<a class="buttons secondary browser" id="messaging">
					Send Messages
				</a>
				<a class="buttons secondary"  ui-sref="pair">
					See Your Friends
				</a>
				<a class="buttons secondary browser" id="FAQ-pairing" >
					Troubleshooting
				</a>
</div>
</div>
	</ion-content>
</ion-view>
