<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
		<div class="startup instruction">
			<div class="content">
		<!--//needs to be replaced with our navigation-->
		<div class="startup">
				<a class="buttons primary" onclick="window.open('https://jewelbots.com/pages/charging', '_blank')">
					Charging
				</a>
				<a class="buttons primary" onclick="window.open('https://jewelbots.com/pages/FAQ-battery', '_blank')">
					Troubleshooting
				</a>
		</div>
	</div>
</div>

	</ion-content>
</ion-view>
