<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
		<div class="startup instruction">
			<div class="content">
		<!--//needs to be replaced with our navigation-->
		<div class="startup">
			<a class="buttons tertiary browser" id="LEDs">
				LEDs
			</a>
			<a class="buttons tertiary browser" id="led-animations-1">
				LED Animations
			</a>
			<a class="buttons tertiary browser" id="buzzer">
				Buzzer
			</a>
			<a class="buttons tertiary browser" id="magic-button">
				Magic Button
			</a>
		</div>
	</div>
</div>

	</ion-content>
</ion-view>
