<ion-view>
	<ion-content>
		<!--//this is temporary -->
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>
		</ion-nav-bar>
		<div class="startup instruction">
			<div class="content">
		<!--//needs to be replaced with our navigation-->
		<div class="startup">
			<a class="buttons tertiary" onclick="window.open('https://jewelbots.com/pages/LEDs', target='_blank')">
				LEDs
			</a>
			<a class="buttons tertiary" onclick="window.open('https://jewelbots.com/pages/led-animations-1', target='_blank')"
				LED Animations
			</a>
			<a class="buttons tertiary" onclick="window.open('https://jewelbots.com/pages/buzzer', target='_blank')">
				Buzzer
			</a>
			<a class="buttons tertiary" onclick="window.open('https://jewelbots.com/pages/magic-button', target='_blank')">
				Magic Button
			</a>
		</div>
	</div>
</div>

	</ion-content>
</ion-view>
