<ion-view>
	<ion-content>
		<div class="friend_requests">

			<div class="friend_requests_header">
				<a class="close" ng-click="$ionicGoBack()">
					<img src="images/icon__(x)_white.svg" />
				</a>
				<div class="badge">
					<div class="number">
						4123
					</div>
					<p>YOU HAVE FRIEND REQUESTS</p>

				</div>
			</div>
			<br />
			<div class="friend_requests_header open">
				<a class="close" ng-click="$ionicGoBack()">
					<img src="images/icon__(x)_white.svg" />
				</a>
				<div class="badge">
					<div class="number">
						4
					</div>
					<p>YOU HAVE FRIEND REQUESTS</p>

				</div>
			</div>
			<div class="friend_requests_list">

				<!--default-->
				<div class="request red"><!--[red/orange/yellow/green/teal/blue/purple/pink // request_different_color // different_color_requested ]-->
					<div class="top">
						<div class="color"></div>
						<div class="name">
							<span class="name_first">First</span> <br /><span class="name_last">L.</span>
						</div>
						<a class="accept"><img src="images/icon__(y)_white.svg" /></a>
						<a class="deny"><img src="images/icon__(x)_white.svg" /></a>
					</div>
					<div class="bottom">

						<ul class="color_list">
							<li><a class="red active"><img src="" /></a></li>
							<li><a class="orange"><img src="" /></a></li>
							<li><a class="yellow"><img src="" /></a></li>
							<li><a class="green" ><img src="" /></a></li>
							<li><a class="teal"  ><img src="" /></a></li>
							<li><a class="blue"  ><img src="" /></a></li>
							<li><a class="purple"><img src="" /></a></li>
							<li><a class="pink"  ><img src="" /></a></li>
						</ul>

						<a class="suggest">SUGGEST ANOTHER COLOR</a>
						<p class="confirmation">YAY!!! - YOUR INVITATION HAS BEEN SENT.</p>
						<a class="instruction">SEND INVITE TO <span>First</span>.</a>
					</div>
				</div>
				<!--suggest another color-->
				<div class="request red request_different_color">
					<div class="top">
						<div class="color"></div>
						<div class="name">
							<span class="name_first">First</span> <br /><span class="name_last">L.</span>
						</div>
						<a class="accept"><img src="images/icon__(y)_white.svg" /></a>
						<a class="deny"><img src="images/icon__(x)_white.svg" /></a>
					</div>
					<div class="bottom">

						<ul class="color_list">
							<li><a class="red"><img src="" /></a></li>
							<li><a class="orange"><img src="" /></a></li>
							<li><a class="yellow"><img src="" /></a></li>
							<li><a class="green active" ><img src="" /></a></li>
							<li><a class="teal"  ><img src="" /></a></li>
							<li><a class="blue"  ><img src="" /></a></li>
							<li><a class="purple"><img src="" /></a></li>
							<li><a class="pink"  ><img src="" /></a></li>
						</ul>

						<a class="suggest">SUGGEST ANOTHER COLOR</a>
						<p class="confirmation">YAY!!! - YOUR INVITATION HAS BEEN SENT.</p>
						<a class="instruction">SEND INVITE TO <span>First</span>.</a>
					</div>
				</div>
				<!--confirmation another color-->
				<div class="request green different_color_requested">
					<div class="top">
						<div class="color"></div>
						<div class="name">
							<span class="name_first">First</span> <br /><span class="name_last">L.</span>
						</div>
						<a class="accept"><img src="images/icon__(y)_white.svg" /></a>
						<a class="deny"><img src="images/icon__(x)_white.svg" /></a>
					</div>
					<div class="bottom">

						<ul class="color_list">
							<li><a class="red"><img src="" /></a></li>
							<li><a class="orange"><img src="" /></a></li>
							<li><a class="yellow"><img src="" /></a></li>
							<li><a class="green active" ><img src="" /></a></li>
							<li><a class="teal"  ><img src="" /></a></li>
							<li><a class="blue"  ><img src="" /></a></li>
							<li><a class="purple"><img src="" /></a></li>
							<li><a class="pink"  ><img src="" /></a></li>
						</ul>

						<a class="suggest">SUGGEST ANOTHER COLOR</a>
						<p class="confirmation">YAY!!! - YOUR INVITATION HAS BEEN SENT.</p>
						<a class="instruction">SEND INVITE TO <span>First</span>.</a>
					</div>
				</div>
				<!--default-->
				<div class="request blue"><!--[red/orange/yellow/green/teal/blue/purple/pink // request_different_color // different_color_requested ]-->
					<div class="top">
						<div class="color"></div>
						<div class="name">
							<span class="name_first">First</span> <br /><span class="name_last">L.</span>
						</div>
						<a class="accept"><img src="images/icon__(y)_white.svg" /></a>
						<a class="deny"><img src="images/icon__(x)_white.svg" /></a>
					</div>
					<div class="bottom">

						<ul class="color_list">
							<li><a class="red active"><img src="" /></a></li>
							<li><a class="orange"><img src="" /></a></li>
							<li><a class="yellow"><img src="" /></a></li>
							<li><a class="green" ><img src="" /></a></li>
							<li><a class="teal"  ><img src="" /></a></li>
							<li><a class="blue"  ><img src="" /></a></li>
							<li><a class="purple"><img src="" /></a></li>
							<li><a class="pink"  ><img src="" /></a></li>
						</ul>

						<a class="suggest">SUGGEST ANOTHER COLOR</a>
						<p class="confirmation">YAY!!! - YOUR INVITATION HAS BEEN SENT.</p>
						<a class="instruction">SEND INVITE TO <span>First</span>.</a>
					</div>
				</div>

			</div>

		</div>
	</ion-content>
</ion-view>