<ion-modal-view>
  <ion-header-bar>
    <h1 class="Select Color and Friends"></h1>
    <div class="buttons pull-right">
      <button class="button" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <ion-checkbox collection-repeat="item in model.contacts track by item.$index"
                    ng-model="item.checked"
                    ng-checked="item.checked">
        {{ item.name }}
      </ion-checkbox>
    </div>

    <div ng-show="menu.selectedMenuItem">Choose Color</div>
    <jewelbots-menu bind="menu.selectedMenuItem"></jewelbots-menu>
  </ion-content>
  <ion-footer-bar class="bar-positive">
    {{ (model.contacts | filter:{checked: true }).length }} selected
    <div class="buttons pull-right">
      <button class="button" ng-disabled="!menu.selectedMenuItem" ng-click="addFriends()"><i class="ion-ios-arrow-forward"></i></button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
