<ion-modal-view>
  <ion-header-bar>
    <h1 class="Select Color and Friends"></h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <ion-checkbox collection-repeat="item in model.contacts track by $index"
                    ng-model="item.checked"
                    ng-checked="item.checked">
        {{ item.givenName + ' ' + item.familyName + '. ' }}
      </ion-checkbox>
    </div>
    <div class="footer-circle-menu">
      <span class="circle circle-red"></span>
      <span class="circle circle-orange"></span>
      <span class="circle circle-yellow"></span>
      <span class="circle circle-green"></span>
      <span class="circle circle-pink"></span>
      <span class="circle circle-blue"></span>
      <span class="circle circle-purple"></span>
      <span class="circle circle-plum"></span>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive">
    Select {{ (model.contacts | filter:{checked: true }).length }} and add
    <div class="buttons">
      <button class="button" ng-click="addFriends()"><i class="arrow-return-right"></i></button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
