<div class="circle red_pending">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle red">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle orange_pending">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle orange">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle yellow_pending">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle yellow">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle green_pending">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle green">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle teal_pending">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle teal">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle blue_pending">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle blue">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle purple_pending">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle purple">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle pink_pending">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle pink">
	<div class="name">First L.</div>
	<div class="color"></div>
</div>
<div class="circle add">
	<img src="../../images/icon__button_friend_add.svg" />
</div>


<div class="circle"><!-- default circle, add class "color_pending" or "color" as seen above [teal_pending, teal]-->
	<div class="name">First L.</div>
	<div class="color"></div>
</div>

<div class="clear">&nbsp;</div>