<div class="bar-balanced">
  <div class="title">
    Friends
  </div>
</div>

<div class="card" ng-repeat="friend in model.friends">
  <div class="item">
    <div>
      <div class="circle circle-{{friend.color}}"></div>
      <div class="friend-name">{{friend.name}}</div>
    </div>
  </div>
</div>
<div class="buttons">
  <button ng-disabled="!allowedToAddFriends()" class="button button-icon ion-ios-plus-outline large-size-icon" ng-click="openModal(1)" id="datbutton">
    Add Friends
  </button>
</div>
