<ion-view>
	<ion-content>
		<div class="friend_editmodal green"><!--[red..purple/delete_as_friend/friend_is_deleted/suggest_new_color/requested_new_color]-->
			<div class="content">
				<a class="close" ng-click="$ionicGoBack()">
					<img src="images/icon__(x)_white.svg" />
				</a>
				<div class="modal">
					
					<h3>Scott Reynolds</h3>
					<p class="email phone">scott@jewelbots.com</p>
					<p class="phone">number here?!</p>

					<img class="color" src="" />

					<ul class="color_list">
						<li><a class="red"><img src="" /></a></li>
						<li><a class="orange"><img src="" /></a></li>
						<li><a class="yellow"><img src="" /></a></li>
						<li><a class="green active"><img src="" /></a></li>
						<li><a class="teal"  ><img src="" /></a></li>
						<li><a class="blue"  ><img src="" /></a></li>
						<li><a class="purple"><img src="" /></a></li>
						<li><a class="pink"  ><img src="" /></a></li>
					</ul>

					<p class="confirmation">You have added Scott to a new color. Now your friend has to approve this change.</p>
					<p class="deleted">Scott is no longer your friend.</p>

					<a class="suggest">Suggest Another Color</a>
					<a class="cancel">Close</a>
					<a class="add">Add <span>First</span> to new color</a>
					<a class="send">Send Invite To <span>First</span>.</a>
					<a class="delete">Yes! Remove <span>Scott</span> as friend</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>