<ion-modal-view>
  <ion-header-bar>
    <jewelbots-menu bind="menu.selectedMenuItem"></jewelbots-menu>
  </ion-header-bar>
  <ion-content>
    <div class="bar-balanced">
      <div class="title">
        {{model.outstandingFriendRequests.count || 0 }} Color Request{{ model.outstandingFriendRequests.count > 1 ? "s" : "" }}
      </div>
    </div>

    <div class="card" ng-repeat="friendRequest in model.outstandingFriendRequests">
      <div class="item">
        <div class="request-{{friendRequest.color}}">
          <span class="requestor-name">{{friendRequest.name}}</span>
          <span class="friend-request-button">Accept</span>
          <span ng-click="dismissRequest(friendRequest.id)">X</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
