<div ng-include src="'templates/menu/top-menu.html'"></div>
<div ng-include src="'templates/menu/jewelbots_header.html'"></div>

<ion-view can-swipe-back="true">
  <ion-content class="center has-header">
    <div ng-show="model.friends.length == 0" class="clear">
      <div class="friend-name">No friends yet! Edit me for instructions on how to get some!</div>
    </div>
    <p>{{model}}</p>
    <p>{{model.updateRequired}}</p>
    <div ng-show="model.friends.length > 0" class="card" ng-repeat="friend in model.friends">
      <div class="item">
        <div>
          <div class="circle circle-{{friend.color}}">{{friend.color}}</div>
          <div class="friend-name">{{friend.address}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
