   <h2>Welcome To Jewelbots!</h2>
    <p>
      Add your friends to colors so they light up the same when you're close.
    </p>
    <div class="buttons">
      <button ng-disabled="!allowedToAddFriends()" class="button button-icon ion-ios-plus-outline large-size-icon" ng-click="openModal(menu.selectedMenuItem)" id="datbutton">
        Add Friends
      </button>
    </div>
    <div ng-show="!allowedToAddFriends()"><em>In order to add friends through the app, you'll need to add your phone number:</em>
      <div class="list card">
        Text message rates may apply.
        <label class="item item-input">
          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i>
            Enter phone number
          </a>
          <span class="input-label">Telephone</span>
          <input type="tel" ng-model="model.telephone">
        </label>
      </div>
      <div class="buttons">
        <button ng-disabled="!model.telephone.length > 0" class="button button-positive" ng-click="sendSMS(model.telephone)">Add phone</button>
      </div>
    </div>
    <div>
      <em>We do not collect or store your phone number in a retrievable format</em>. Read our privacy policy for more information.
    </div>



