<h2>Welcome To Jewelbots!</h2>
<p>
	Add your friends to colors so they light up the same when you're close.
</p>

<div class="circle add centered" ng-disabled="!allowedToAddFriends()" ng-click="openModal(1)" id="datbutton">
	<img src="../../images/icon__button_friend_add.svg" />
</div>
<h3>
	<img src="../../images/icon__arrow_up.svg" />
	Tap to add your friends!
</h3>

<div ng-show="!allowedToAddFriends()">
	<em>In order to add friends through the app, you'll need to add your phone number:</em>
	<div class="list card">
		Text message rates may apply.
		<label class="item item-input">
			<a href="#" class="item item-icon-left"><i class="icon ion-ios-telephone"></i>Enter phone number</a>
			<span class="input-label">Telephone</span>
			<input type="tel" ng-model="model.telephone">
		</label>
	</div>
	<div class="buttons">
		<button ng-disabled="!model.telephone.length > 0" class="button button-positive" ng-click="sendSMS(model.telephone)">Add phone</button>
	</div>
</div>
<p class="note">
	We do not collect or store your phone number in a retrievable format. Read our <a href="#">privacy policy</a> for more information.
</p>

<style>
	.friendlist .content .circle.add.centered {
		float:  none;
		margin: 0 auto 0 auto;
	}
	.friendlist .content h3 {
		display:  block;
		position: relative;
		width:    100%;
		height:   auto;
		margin:   0 0 0 0;
		padding:  20px 0 10px 0;

		font-family: 'open_sansbold', Arial, "MS Trebuchet", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height:    30px;
		letter-spacing: 0px;
		text-align:     center;
		text-indent:    0;
		text-transform: none;
		color:          rgba(80,100,120,1.0);
	}
	.friendlist .content h3 img {
		display:  block;
		position: relative;
		width:    19px;
		height:   21px;
		margin:   0 auto 0 auto;
		padding:  0 0 0 0;
	}
	.friendlist .content p.note {
		display:  block;
		position: relative;
		width:    100%;
		height:   auto;
		margin:   0 0 0 0;
		padding:  0 0 0 0;

		font-family:    'open_sanssemibold', Arial, "MS Trebuchet", sans-serif;
		font-style:     normal;
		font-weight:    400;
		font-size:      11px;
		line-height:    14px;
		letter-spacing: 0px;
		text-align:     center;
		text-indent:    0;
		text-transform: none;
		color:          rgba(80,100,120,1.0);
	}
</style>