<!DOCTYPE html>
<html lang="en">
<head>
<!-- css - (↓) -->
<link type="text/css" rel="stylesheet" href="/css/style-reset.css"            media="screen" /><!-- CSS - reset -->
<link type="text/css" rel="stylesheet" href="/css/style.css"                  media="screen, projection" /><!-- CSS - iPad (1024) -->
<!-- css - (↑) -->
</head>
<body>

<ion-view can-swipe-back="false" hide-nav-bar="true" hide-back-button="true">
	<div class="contact_list">

		<div class="header">
			<h2>Select Color and Friends</h2>
			<a class="close">
				<img src="/images/icon__(x)_white.svg" />
			</a>
		</div>

		<h3>Recent Friends</h3>
		<ul>
			<li>
				<div class="name">First L.</div>
				<div class="check gray"></div>
				<a class="check gray"><img src="" /></a>
			</li>
			<li>
				<div class="name">First L.</div>
				<a class="check gray active"><img src="" /></a>
			</li>
			<li>
				<div class="name">First L.</div>
				<a class="check red active"><img src="" /></a>
			</li>
			<li>
				<div class="name">First L.</div>
				<a class="check orange active"><img src="" /></a>
			</li>
			<li>
				<div class="name">First L.</div>
				<a class="check yellow active"><img src="" /></a>
			</li>
			<li>
				<div class="name">First L.</div>
				<a class="check green active"><img src="" /></a>
			</li>
			<li>
				<div class="name">First L.</div>
				<a class="check teal active"><img src="" /></a>
			</li>
			<li>
				<div class="name">First L.</div>
				<a class="check blue active"><img src="" /></a>
			</li>
			<li>
				<div class="name">First L.</div>
				<a class="check purple active"><img src="" /></a>
			</li>
			<li>
				<div class="name">First L.</div>
				<a class="check pink active"><img src="" /></a>
			</li>
		</ul>
		<h3>All Friends with Jewelbots</h3>
			<ul>
				<li>
					<div class="name">First L.</div>
					<a class="check gray"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check gray"><img src="" /></a>
				</li>
			</ul>
		<h3>All Friends without Jewelbots</h3>
			<ul>
				<li>
					<div class="name">First L.</div>
					<a class="check gray"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check gray"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check gray"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check gray"><img src="" /></a>
				</li>
			</ul>

	</div>
</ion-view>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
