<ion-view can-swipe-back="false" view-title="Jewelbot Successfully Paired" hide-back-button="true">
<ion-content>
  <div class="content has-header padding">
    <div class="row">
      <div class="col"><h1>Yay! You're all set! Your Jewelbot and phone are now connected.</div>
    </div>
    <div class="row">
      <img src="images/header_icon.png" alt="Jewelbots Icon" />
    </div>
    <div class="row">
      So what's next?
    </div>
    <div class="row">
      <h3>Connect with Friends</h3>
    </div>
    <div class="row">
      <p>Lorem ipsum etc etc etc</p>
    </div>
    <div class="row">
      <button class="button button-light" ui-sref="dashboard">
        Continue   ->
      </button>
    </div>
    <div class="row">
      <a ui-sref="privacy">Privacy Policy</a>
    </div>
  </div>

</ion-content>
</ion-view>
