<ion-view can-swipe-back="false" view-title="Jewelbot Successfully Paired" hide-back-button="true">
<ion-content>
  <div class="content has-header padding">
    <div class="row">
      <div class="col">You are now ready to use your Jewelbot</div>
    </div>
    <div class="row">
      <img src="images/header_icon.png" alt="Jewelbots Icon" />
    </div>
    <div class="row">
      &nbsp;
    </div>
    <div class="row">
    <button class="button button-light" ui-sref="addFriends">
      TO DASHBOARD
    </button>
    </div>
    <div class="row">
      <a ui-sref="privacy">Privacy Policy</a>
    </div>
  </div>

</ion-content>
</ion-view>
