<ion-view>
	<ion-content>
		<div class="quickstart">
			<a class="close" ng-click="$ionicGoBack()">
				<img src="images/icon__(x)_white.svg" />
			</a>
			<div class="info">
				<img src="images/image__quickstart__news_3.png" />
				<h1>Welcome to Jewelbots</h1>
				<p>
					Some quick-start message should go here. Could be a simple walkthrough of the app.
				</p>
			</div>
			<div class="interface">
				<ul>
					<li></li>
					<li></li>
					<li class="active"></li>
				</ul>
				<a class="next" href="">Next</a>
				<a class="skip" href="">Skip</a>
			</div>
		</div>
	</ion-content>
</ion-view>