<!DOCTYPE html>
<html lang="en">
<head>
<!-- css - (↓) -->
<link type="text/css" rel="stylesheet" href="/css/style-reset.css"            media="screen" /><!-- CSS - reset -->
<link type="text/css" rel="stylesheet" href="/css/style.css"                  media="screen, projection" /><!-- CSS - iPad (1024) -->
<!-- css - (↑) -->
</head>
<body>

<ion-view can-swipe-back="false" hide-nav-bar="true" hide-back-button="true">
	<div class="quickstart">
		<a class="close">
			<img src="/images/icon__(x)_white.svg" />
		</a>
		<div class="info">
			<img src="/images/image__quickstart_1.png" />
			<h1>Welcome to Jewelbots</h1>
			<p>
				Some quick-start message should go here. Could be a simple walkthrough of the app.
			</p>
		</div>
		<div class="interface">
			<ul>
				<li class="active"></li>
				<li></li>
				<li></li>
			</ul>
			<a class="next" href="">Next</a>
			<a class="skip" href="">Skip</a>
		</div>
	</div>
</ion-view>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
