<ion-view can-swipe-back="false" hide-nav-bar="true" hide-back-button="true">
<ion-content class="center has-header">
	<div>
		<p>Paired? {{model.isPaired}}</p>
		<p>Device ID: {{model.deviceId}}</p>
	</div>
	<h1>**Debug-Start** APP</h1>
	<a ui-sref="home">Start App</a><br>
	<a ui-sref="pair">Pair</a><br>
	<a ui-sref="dashboard">Dashboard</a><br>
	<a ui-sref="diagnostics">Diagnostics</a><br>
	<a ui-sref="settings">Settings</a><br>
	<a ui-sref="friends">Friends</a><br>
	<hr />
	<br />

	<h1>STATES</h1>

	<a ui-sref="load">1 - /templates/start/load.html</a>
	<a ui-sref="privacy">1 - /templates/start/privacy.html</a>
	<a ui-sref="birthday">1 - /templates/start/birthday.html</a>
	<a ui-sref="quickstart_news_1">2 - /templates/quickstart/news_1.html</a>
	<a ui-sref="quickstart_news_2">2 - /templates/quickstart/news_2.html</a>
	<a ui-sref="quickstart_news_3">2 - /templates/quickstart/news_3.html</a>
	<a ui-sref="friend_editmodal">5 - /templates/friends/friend_editmodal.html</a>
	<a ui-sref="friend_requests">6 - /templates/friend_requests/friend_requests.html</a>
	<a ui-sref="friend_requests_alt">6 - /templates/friend_requests/friend_requests_alt.html</a>
	<a ui-sref="contact_list">7 - /templates/contact_list/contact_list.html</a>
	<a ui-sref="error_nocolorselected">9 - /templates/error_messages/error_nocolorselected.html</a>


	<style>
		h1 {
			display:  block;
			position: relative;
			width:    100%;
			height:   auto;
			margin:   0 0 0 0;
			padding:  0 15px 0 15px;

			font-family: 'open_sansbold', Arial, "MS Trebuchet", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 30px;
			letter-spacing: 0px;
			text-align: center;
			text-indent: 0;
			text-transform: none;
			color: rgba(80,100,120,1.0);
		}
		a {
			display:  block;
			position: relative;
			width:    100%;
			height:   auto;
			margin:   0 0 0 0;
			padding:  0 15px 0 15px;

			font-family: 'open_sanssemibold', Arial, "MS Trebuchet", sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 30px;
			letter-spacing: 0px;
			text-align: center;
			text-indent: 0;
			text-transform: none;
			color: rgba(80,100,120,1.0);
		}
	</style>
</ion-content>
</ion-view>
