<ion-nav-view title="nearFriend">
<div class="bar bar-header">
  <h1 class="title">Make a Mod</h1>
</div>
<div class="content has-header padding">
<h1>
	If I am Near {{friend.FirstName}}
</h1>
<div class="list card">
<a href="#" ui-sref="make.addCondition({Condition:AND})" class="item item-icon-left">
	<i class="icon ion-plus"></i>
	AND
</a>
<a href="#" ui-sref="make.addCondition({Condition:OR})" ng-model="pressButton" class="item item-icon-left">
	<i class="icon"></i>
	OR
</a>
 
<a ui-sref="make.message" class="item item-icon-left">
	<i class="icon ion-checkmark"></i>
	That's It!
</a>

</div>
</ion-nav-view>