<ion-view>
  <div ng-include src="'templates/menu/top-menu.html'"></div>
  <div ng-include src="'templates/menu/jewelbots_header.html'"></div>
  <ion-content>
    <div class="home pair_start">
      <div class="content">
        <h1>Let's begin by pairing your Jewelbot with your phone!</h1>
        <p>1. Make sure you have Bluetooth enabled.</p>
        <p>2. Make sure your Jewelbot is plugged in.</p>
        <p>3. Press your Jewelbot's Magic Button firmly and hold for 1 second.</p>
        <p>
        <a class="continue" ui-sref="pair">
          Continue
          <img src="images/icon__arrow_right_white.svg" />
        </a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
