<ion-nav-view view-title="Device Pairing">
<div class="bar bar-header bar-light">
    <h1 class="title">Device Pairing</h1>
</div>
<div class="content has-header padding">
    <div class="list">
        <label class="item item-radio" ng-repeat="device in model.devices">
            <input type="radio" name="group-pairing" ng-model="device.name" ng-change="pairToDevice(device.name)">
            <div class="item-content">
                {{device.name}}
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>

    </div>
</div>
</ion-nav-view>