<ion-content>
<div class="bar bar-header bar-light">
    <h1 class="title">Device Pairing</h1>
</div>
<div class="content has-header padding">
    <div class="list">
      <ion-radio ng-repeat="device in model.devices" ng-model="chosenDevice" ng-value="device.name" ng-change="pairToDevice(device.name)">
        {{device.name}}
      </ion-radio>
    </div>
  <button class="button button-positive" ng-click="getAvailableDevices()">
    Scan
  </button>
  <div class="card" ng-repeat="s in model.status">
    {{s}}
  </div>
  <div class="card" ng-repeat="e in model.errors">
    {{e.Date}}
    {{e.Message}}
    {{e.Exception}}
    <hr />
  </div>
  <button class="button button-positive" ng-click="getErrors()">
    Refresh Errors
  </button>


</div>

</ion-content>


