<ion-view can-swipe-back="false" view-title="Device Pairing" hide-back-button="true">
<ion-content>

<div class="content has-header padding">
    <div class="list">
      <ion-radio ng-repeat="device in model.devices" ng-model="model.chosenDevice" ng-value="device">
        {{device.name}}<br />{{device.address}}
      </ion-radio>
    </div>
  <button class="button button-neutral" ng-click="pairToDevice(model.chosenDevice.address)">
    Pair your Jewelbot
  </button>
</div>

</ion-content>
</ion-view>


