<ion-view>
	<ion-content>
		<div class="contact_list">

			<div class="header">
				<h2>Select Color and Friends</h2>
				<a class="close" ng-click="$ionicGoBack()">
					<img src="images/icon__(x)_white.svg" />
				</a>
			</div>

			<h3>Recent Friends</h3>
			<ul>
				<li>
					<div class="name">First L.</div>
					<div class="check gray"></div>
					<a class="check gray"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check gray active"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check red active"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check orange active"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check yellow active"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check green active"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check teal active"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check blue active"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check purple active"><img src="" /></a>
				</li>
				<li>
					<div class="name">First L.</div>
					<a class="check pink active"><img src="" /></a>
				</li>
			</ul>
			<h3>All Friends with Jewelbots</h3>
				<ul>
					<li>
						<div class="name">First L.</div>
						<a class="check gray"><img src="" /></a>
					</li>
					<li>
						<div class="name">First L.</div>
						<a class="check gray"><img src="" /></a>
					</li>
				</ul>
			<h3>All Friends without Jewelbots</h3>
				<ul>
					<li>
						<div class="name">First L.</div>
						<a class="check gray"><img src="" /></a>
					</li>
					<li>
						<div class="name">First L.</div>
						<a class="check gray"><img src="" /></a>
					</li>
					<li>
						<div class="name">First L.</div>
						<a class="check gray"><img src="" /></a>
					</li>
					<li>
						<div class="name">First L.</div>
						<a class="check gray"><img src="" /></a>
					</li>
				</ul>

		</div>
	</ion-content>
</ion-view>